.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bestsellers {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
  .bestsellers {
    border: 1px solid red;
    &__list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 480px) {
}

@media (max-width: 572px) {
}
