$color-white: #fff;
$color-black: #2b2a2a;
$color-gray: #7c7c7c;
$color-red: #ff6565;
$color-brown: #ab844a;

.cards__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 250px;
  margin-left: 20px;

  &__cart {
    background: $color-white;
    position: absolute;
    bottom: -50%;
    width: 80%;
    right: 0;
    cursor: pointer;
    left: 25px;
    display: flex;
    align-items: center;
    padding: 13px;
    justify-content: center;
    transition: 0.5s ease-out;
    justify-content: space-between;

    &.active {
      background: $color-brown;
      color: $color-white;
    }

    &.active svg path {
      fill: $color-white;
    }
  }

  &__new {
    background: #ff6565;
    text-transform: uppercase;
    position: absolute;
    width: 70px;
    height: 70px;
    color: $color-white;
    font-size: 8px;
    transform: rotate(-40deg) translateY(-50px);
  }

  &__preview {
    position: relative;
    border: 1px solid transparent;
    overflow: hidden;
    transition: border 0.5s;
    &:hover .cards__item__cart {
      bottom: 20px;
    }
    &:hover {
      border: 1px solid $color-brown;
    }
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__favorite {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      background: #2b2a2a;
    }

    &.active svg > path {
      fill: $color-white;
    }
  }

  &__prices {
    font-size: 16px;
    margin: 10px 0;

    &__before {
      color: #7c7c7c;
      text-decoration: line-through;
      margin-right: 12px;
    }

    &__after {
      color: #ab844a;
      font-weight: bold;
    }
  }

  &__sale {
    position: absolute;
    right: 0;
    top: 0;
    background: #ff6565;
    color: $color-white;
    padding: 7px;
  }

  &__name {
    font-size: 15px;
    color: #2a2a2a;
    font-weight: bold;
    margin: 10px 0;
  }

  &-sizes {
    font-size: 14px;
    color: #7c7c7c;
    margin: 20px 0;
  }

  &__colors {
    display: flex;
    align-items: center;
    margin: 10px 0;

    &__item {
      width: 8px;
      height: 8px;
      display: block;
      cursor: pointer;
      margin-right: 16px;

      &:last-child {
        margin: 0;
      }

      &.active {
        border: 1px solid #a4adac;
      }

      &:nth-child(1) {
        background: #73a39d;
      }

      &:nth-child(2) {
        background: #84cc4c;
      }

      &:nth-child(3) {
        background: #ab844a;
      }

      &:nth-child(4) {
        background: #6977f0;
      }

      &:nth-child(5) {
        background: #ffffff;
        border: 1px solid #d1d1d1;
      }

      &:nth-child(6) {
        background: #141414;
      }

      &:nth-child(7) {
        background: #ff0000;
      }
    }
  }
}


@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
  .cards__item{
    padding: 0 !important;
    width: 152px;
    margin: 0 !important;
    &__preview{
      width: 100%;
      height: 250px;
    }
    &__image{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
    }
    &__info{

    }
    &__favorite{
      width: 24px;
      height: 24px;
      svg{
        width: 15px;
        height: 15px;
      }
    }
    &__cart{
      font-size: 10px;
      margin: 0;
      width: 80%;
      left: 10%;
      right: 0;
      justify-content: center;
      align-items: center;
      padding: 10px 5px;
      svg{
        width: 10px;
        height: 10px;
        margin-right: 5px;
      }
    }
    &__prices{
      font-size: 11px;
      margin: 10px 0;
      &__before {
        color: #7c7c7c;
        text-decoration: line-through;
        margin-right: 12px;
      }
      &__after {
        color: #ab844a;
        font-weight: bold;
      }
    }
    &__sale {
      position: absolute;
      right: 0;
      top: 0;
      background: #ff6565;
      color: $color-white;
      padding: 7px;
    }
    &__name {
      font-size: 11px;
      color: #2a2a2a;
      font-weight: bold;
      margin: 5px 0;
    }
    &__sizes {
      font-size: 10px;
      color: #7c7c7c;
      margin: 5px 0;
    }
    &__colors {
      display: flex;
      align-items: center;
      margin: 10px 0;
      font-size: 10px;
      &__item {
        width: 8px;
        height: 8px;
        display: block;
        cursor: pointer;
        margin-right: 5px;
        &:last-child {
          margin: 0;
        }
        &.active {
          border: 1px solid #a4adac;
        }
        &:nth-child(1) {
          background: #73a39d;
        }
        &:nth-child(2) {
          background: #84cc4c;
        }
        &:nth-child(3) {
          background: #ab844a;
        }
        &:nth-child(4) {
          background: #6977f0;
        }
        &:nth-child(5) {
          background: #ffffff;
          border: 1px solid #d1d1d1;
        }
        &:nth-child(6) {
          background: #141414;
        }
        &:nth-child(7) {
          background: #ff0000;
        }
      }
    }
  }

}

@media (max-width: 480px) {
}

@media (max-width: 572px) {

}