.newsDetail {
  padding: 40px 0;
}

.detailBlock {
  border-bottom: 1px solid #e4e4e4;
  margin: 40px;
  display: flex;
  &__image {
    img {
    }
  }
  &__info {
    margin-left: 32px;
    span {
      font-size: 18px;
      color: $color-gray;
    }
    h3 {
      font-size: 32px;
      color: $color-black;
      margin: 15px 0;
      letter-spacing: 0.04em;
    }
    p {
      font-size: 14px;
      color: $color-gray;
      font-weight: 300;
      letter-spacing: 0.04em;
      line-height: 21px;
      margin-bottom: 20px;
    }
  }
}

.newsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__title {
    font-size: 32px;
    font-weight: 400;
  }
}

.btn--news {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  svg {
    margin-left: 12px;
  }
}
